.u-section-1 .u-sheet-1 {
  min-height: 776px;
}

.u-section-1 .u-shape-1 {
  height: 428px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  background-image: none;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  width: 593px;
  margin: -328px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  height: auto;
  margin: 20px auto 60px 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 456px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 263px;
  width: 263px;
  background-image: url("images/IMG_0122.jpg");
  background-position: 50% 6.48%;
  margin: 13px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 263px;
  width: 263px;
  background-image: url("images/PicsArt_06-17-11.27.33.jpg");
  background-position: 50% 50%;
  margin: 13px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 263px;
  width: 263px;
  background-image: url("images/Screenshot_20210617-094916.jpg");
  background-position: 50% 50%;
  margin: 13px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 238px;
    width: 238px;
  }

  .u-section-1 .u-image-2 {
    height: 238px;
    width: 238px;
  }

  .u-section-1 .u-image-3 {
    height: 238px;
    width: 238px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-1 .u-shape-1 {
    height: 380px;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: -280px;
    margin-left: 64px;
    margin-right: 64px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 49px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 170px;
    width: 170px;
  }

  .u-section-1 .u-image-2 {
    height: 170px;
    width: 170px;
  }

  .u-section-1 .u-image-3 {
    height: 170px;
    width: 170px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1144px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -283px;
    margin-left: 16px;
    margin-right: 16px;
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: 38px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1113px;
  }

  .u-section-1 .u-shape-1 {
    height: 432px;
    margin-top: 20px;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: -353px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 51px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 242px;
    width: 242px;
  }

  .u-section-1 .u-image-2 {
    height: 242px;
    width: 242px;
  }

  .u-section-1 .u-image-3 {
    height: 242px;
    width: 242px;
  }
}